@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

:root {
  --google-font-tenali: "Tenali Ramakrishna", sans-serif;
  --google-font-montaga: "Montaga", sans-serif;
  --pokemon-yellow: #f4d03f;
  --poke-yellow: #f7dc6f;
  --box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #222;
}

main {
  padding: 20px;
  margin: auto;
  /* max-width: 1150px; */
  max-width: 90%;
}

#main-header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 60px;
  text-transform: uppercase;
  font-style: italic;
  color: var(--pokemon-yellow);
  margin-bottom: 50px;
  /* -webkit-text-fill-color: var(--pokemon-yellow); */
  -webkit-text-fill-color: var(--pokemon-yellow);
  -webkit-text-stroke-color: #1a5276;
  -webkit-text-stroke-width: 1.25px;
}

#header-label {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 0;
}

#app {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 30px 30px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.poke-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-top: 3px solid var(--pokemon-yellow);
  border-bottom: 3px solid var(--pokemon-yellow);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  /* background: #444; */
  /* background: #ddd; */
  background: #333;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #eee;
  transition: 0.2s ease-in-out all;
  /* box-shadow: var(--box-shadow); */
}

.poke-card:hover {
  transform: scale(1.035);
  cursor: pointer;
}

.poke-card .card-id {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  /* background: #222; */
  width: 50px;
  padding: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 28px;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#poke-hp {
  padding-right: 3px;
  color: red;
  font-size: 16px;
}

.poke-card .flexy .card-hp {
  font-size: 1.5rem;
}

.poke-card .card-name {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: var(--google-font-montaga);
  font-size: 2rem;
}

.poke-card .card-image {
  display: block;
  width: 115px;
  height: 130px;
  margin: auto;
  margin-bottom: 10px;
}

.poke-card .card-details {
  color: var(--pokemon-yellow);
  font-family: var(--google-font-tenali);
  font-size: 22px;
}

.poke-card span {
  color: #fff;
  font-family: var(--google-font-tenali);
  font-size: 1.2rem;
}

#search-bar {
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 1px solid #DDD;
}

#submit-btn {
    border-radius: 4px;
    margin: 5px;
    margin-left: 10px;
    background: #222;
    border: 1px solid #DDD;
    padding: 0;
}

#searchClick {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    width: 100%;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
}

#clear-search {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px;
    background: #222;
    color: white;
    font-size: 0.9rem;
    border: 1px solid #DDD;
}

#searchClick:hover {
    background: #444;
}

#clear-search:hover {
    background: #444;
}

main #search-div {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 325px) {
  #search-bar {
    max-width: 150px;
  }
}